<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.amuse.frameone.dao.UserMapper" >
    <resultMap id="BaseResultMap" type="com.amuse.frameone.common.model.User" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="age" property="age" jdbcType="INTEGER" />
        <result column="sex" property="sex" jdbcType="VARCHAR" />
        <result column="birth" property="birth" jdbcType="DATE" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
      id, name, age, sex, birth, email, password
    </sql>

    <select id="getUser" parameterType="Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where id = #{id}
    </select>


    <select id="getUserList" resultType="com.amuse.frameone.common.model.User">
        select
        <include refid="Base_Column_List"/>
        from user
    </select>



    <insert id="addUser" parameterType="com.amuse.frameone.common.model.User">
        insert into user (name, age, sex, birth, email, password) values (#{name},#{age},#{sex},#{birth},#{email},#{password})
    </insert>

    <insert id="saveAndUpdate" parameterType="com.amuse.frameone.common.model.User">
        INSERT INTO USER(id,name,pwd,age,email)VALUES(1,'tom','123456',23,'tom@baiwang.com') ON DUPLICATE KEY UPDATE
name= 'tom',pwd = '123456',age = 18,email = 'tom@baiwang.com';
    </insert>

</mapper>